node_modules
vendor
.git
.env
.env.local
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
public/build
tests
docker-compose.yml
*.md
.github
.idea
.vscode
.claude
scripts
